.headerTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 91px;
    background-color: $Black;

    &__logo{
        padding-left: 28px
    }

    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 149px;
        padding-right: 87px;

        &__link{
            font-size: 24px;
            font-weight: 500;   
            color: $White;
        }
    }
}
@media screen and (max-width: 1342px){
    .headerTop{
        height: 65px;
    &__nav{
        &__link{
            font-size: 18px;
        }
    }
    }
}