.score{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 258px;
    height: 263px;
    background-color: $GreyLight;
    @include graph;

}
.legend{
        position:absolute;
        width: 90px;
        text-align: center;
        background-color: $GreyLight;

        &__score{
            font-size: 26px;
            font-weight: 700;
        }

        &__text{
            font-size: 16px;
            font-weight: 500;
        }

    
}