.dashboardPage{
    margin-left: 224px;

    
}
.allCharts{
    display: flex;
    margin-top: 77px;
    width: 100%;
}
.charts{
    display: flex;
    flex-direction: column;
}

.chartSquare{
    display: flex;
    margin-top: 30px;
}
.nutriScore{
    width: 20%;
    height: 100%;
    margin-top: 0;
}

@media screen and (max-width: 1342px){
        .dashboardPage{
            margin-left: 130px;
        }
        .allCharts{
            flex-wrap: wrap;
            margin-top: 20px;
        }
    }